.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/SmartGuard.iml
/settings.gradle
/gradlew.bat
/gradlew
/gradle.properties
/build.gradle
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/copyright/profiles_settings.xml
profiles_settings.xml
/app/.gitignore
/app/app.iml
/app/build.gradle
/app/proguard-rules.pro
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
